<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th>Route identifier</th>
      <th>Service identifier</th>
      <th>Trip identifier</th>
      <th>Trip headsign</th>
      <th>Trip short name</th>
      <th>Direction identifier</th>
      <th>Block identifier</th>
      <th>Shape identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.route_identifier %></td>
        <td><%= trip.service_identifier %></td>
        <td><%= trip.trip_identifier %></td>
        <td><%= trip.trip_headsign %></td>
        <td><%= trip.trip_short_name %></td>
        <td><%= trip.direction_identifier %></td>
        <td><%= trip.block_identifier %></td>
        <td><%= trip.shape_identifier %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
