<p id="notice"><%= notice %></p>
<h1>Trip</h1>

<p>
  <strong>Route identifier:</strong>
  <%= @trip.route_identifier %>
</p>

<p>
  <strong>Service identifier:</strong>
  <%= @trip.service_identifier %>
</p>

<p>
  <strong>Trip identifier:</strong>
  <%= @trip.trip_identifier %>
</p>

<p>
  <strong>Trip headsign:</strong>
  <%= @trip.trip_headsign %>
</p>

<p>
  <strong>Trip short name:</strong>
  <%= @trip.trip_short_name %>
</p>^

<p>
  <strong>Direction identifier:</strong>
  <%= @trip.direction_identifier %>
</p>

<p>
  <strong>Block identifier:</strong>
  <%= @trip.block_identifier %>
</p>

<p>
  <strong>Shape:</strong>
  <%= link_to @trip.shape_identifier, @shape %>
</p>

<script>

 var mymap = L.map('location_map_id').setView(<%= @location_s %>, 13);

 L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
   maxZoom: 18,
   attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
     '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
     'Imagery © <a href="http://mapbox.com">Mapbox</a>',
   id: 'mapbox.streets'
 }).addTo(mymap);

 var marker = L.marker(<%= @location_s %>).addTo(mymap);


</script>

<h2>Route Map</h2>


<div id="route_map_id"></div>
Route:
<pre>
  <%=@route_s%>
</pre>
<script>

 var mymap = L.map('route_map_id').setView([52.508908,  13.406106], 13);

 L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
   maxZoom: 18,
   attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
     '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
     'Imagery © <a href="http://mapbox.com">Mapbox</a>',
   id: 'mapbox.streets'
 }).addTo(mymap);

 var polygon = L.polygon([
   [51.509, -0.08],
   [51.503, -0.06],
   [51.51, -0.047]
]).addTo(mymap);



var trip_route = L.polygon(<%=@route_s%>).addTo(mymap);
</script>


<p id="notice"><%= notice %></p>

<p>
  <strong>Length:</strong>
  <%= @trip.length %>
</p>
<h1>Hops<h2>
  <ul>
  <% @hops.each do | hop | %>
     <li><%= "#{hop.from.stop_name} - #{hop.to.stop_name} - #{hop.time} sec " %> </li>
  <% end %>
  </ul>

<%= render 'shared/graph' %>

<h1>Stop Times</h1>
<%= render "stop_times/list.html.erb" %>

<br>
