<p id="notice"><%= notice %></p>
<h1>Trip</h1>

<p>
  <strong>Route identifier:</strong>
  <%= @trip.route_identifier %>
</p>

<p>
  <strong>Service identifier:</strong>
  <%= @trip.service_identifier %>
</p>

<p>
  <strong>Trip identifier:</strong>
  <%= @trip.trip_identifier %>
</p>

<p>
  <strong>Trip headsign:</strong>
  <%= @trip.trip_headsign %>
</p>

<p>
  <strong>Trip short name:</strong>
  <%= @trip.trip_short_name %>
</p>^

<p>
  <strong>Direction identifier:</strong>
  <%= @trip.direction_identifier %>
</p>

<p>
  <strong>Block identifier:</strong>
  <%= @trip.block_identifier %>
</p>

<p>
  <strong>Shape identifier:</strong>
  <%= @trip.shape_identifier %>
</p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Length:</strong>
  <%= @trip.length %>
</p>
<h1>Hops<h2>
  <ul>
  <% @hops.each do | hop | %>
     <li><%= "#{hop.from.stop_name} - #{hop.to.stop_name} - #{hop.time} sec " %> </li>
  <% end %>
  </ul>


<h1>Stop Times</h1>
<%= render "stop_times/list.html.erb" %>

<br>
