<%= form_with(model: shape, local: true) do |form| %>
  <% if shape.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shape.errors.count, "error") %> prohibited this shape from being saved:</h2>

      <ul>
      <% shape.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shape_identifier %>
    <%= form.number_field :shape_identifier, id: :shape_shape_identifier %>
  </div>

  <div class="field">
    <%= form.label :shape_pt_lat %>
    <%= form.text_field :shape_pt_lat, id: :shape_shape_pt_lat %>
  </div>

  <div class="field">
    <%= form.label :shape_pt_lon %>
    <%= form.text_field :shape_pt_lon, id: :shape_shape_pt_lon %>
  </div>

  <div class="field">
    <%= form.label :shape_pt_sequence %>
    <%= form.number_field :shape_pt_sequence, id: :shape_shape_pt_sequence %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
