<%= form_with(model: stop, local: true) do |form| %>
  <% if stop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stop.errors.count, "error") %> prohibited this stop from being saved:</h2>

      <ul>
      <% stop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :stop_identifier %>
    <%= form.text_field :stop_identifier, id: :stop_stop_identifier %>
  </div>

  <div class="field">
    <%= form.label :stop_code %>
    <%= form.text_field :stop_code, id: :stop_stop_code %>
  </div>

  <div class="field">
    <%= form.label :stop_name %>
    <%= form.text_field :stop_name, id: :stop_stop_name %>
  </div>

  <div class="field">
    <%= form.label :stop_desc %>
    <%= form.text_field :stop_desc, id: :stop_stop_desc %>
  </div>

  <div class="field">
    <%= form.label :stop_lat %>
    <%= form.text_field :stop_lat, id: :stop_stop_lat %>
  </div>

  <div class="field">
    <%= form.label :stop_lon %>
    <%= form.text_field :stop_lon, id: :stop_stop_lon %>
  </div>

  <div class="field">
    <%= form.label :location_type %>
    <%= form.number_field :location_type, id: :stop_location_type %>
  </div>

  <div class="field">
    <%= form.label :parent_station %>
    <%= form.text_field :parent_station, id: :stop_parent_station %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
