<p id="notice"><%= notice %></p>

<h1>Agencies</h1>

<table>
  <thead>
    <tr>
      <th>Agency identifier</th>
      <th>Agency name</th>
      <th>Agency url</th>
      <th>Agency timezone</th>
      <th>Agency lang</th>
      <th>Agency phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agencies.each do |agency| %>
      <tr>
        <td><%= agency.agency_identifier %></td>
        <td><%= agency.agency_name %></td>
        <td><%= agency.agency_url %></td>
        <td><%= agency.agency_timezone %></td>
        <td><%= agency.agency_lang %></td>
        <td><%= agency.agency_phone %></td>
        <td><%= link_to 'Show', agency %></td>
        <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
        <td><%= link_to 'Destroy', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agency', new_agency_path %>
