<p id="notice"><%= notice %></p>

<p>
  <strong>Agency identifier:</strong>
  <%= @agency.agency_identifier %>
</p>

<p>
  <strong>Agency name:</strong>
  <%= @agency.agency_name %>
</p>

<p>
  <strong>Agency url:</strong>
  <%= @agency.agency_url %>
</p>

<p>
  <strong>Agency timezone:</strong>
  <%= @agency.agency_timezone %>
</p>

<p>
  <strong>Agency lang:</strong>
  <%= @agency.agency_lang %>
</p>

<p>
  <strong>Agency phone:</strong>
  <%= @agency.agency_phone %>
</p>

<%= link_to 'Edit', edit_agency_path(@agency) %> |
<%= link_to 'Back', agencies_path %>
