<p id="notice"><%= notice %></p>

<h1>Routes</h1>

<table>
  <thead>
    <tr>
      <th>Route identifier</th>
      <th>Route short name</th>
      <th>Route type</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.route_identifier %></td>
        <td><%= route.route_short_name %></td>
        <td><%= route.route_type %></td>
        <td><%= link_to 'Show', route %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route', new_route_path %>
