<p id="notice"><%= notice %></p>

<p>
  <strong>Service identifier:</strong>
  <%= @calendar.service_identifier %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @calendar.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @calendar.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @calendar.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @calendar.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @calendar.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @calendar.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @calendar.sunday %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @calendar.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @calendar.end_date %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
