<p id="notice"><%= notice %></p>

<p>
  <strong>Trip identifier:</strong>
  <%= @stop_time.trip_identifier %>
</p>

<p>
  <strong>Arrival time:</strong>
  <%= @stop_time.arrival_time %>
</p>

<p>
  <strong>Departure time:</strong>
  <%= @stop_time.departure_time %>
</p>

<p>
  <strong>Stop identifier:</strong>
  <%= @stop_time.stop_identifier %>
</p>

<p>
  <strong>Stop sequence:</strong>
  <%= @stop_time.stop_sequence %>
</p>

<p>
  <strong>Pickup type:</strong>
  <%= @stop_time.pickup_type %>
</p>

<p>
  <strong>Drop off type:</strong>
  <%= @stop_time.drop_off_type %>
</p>

<p>
  <strong>Stop headsign:</strong>
  <%= @stop_time.stop_headsign %>
</p>

<%= link_to 'Edit', edit_stop_time_path(@stop_time) %> |
<%= link_to 'Back', stop_times_path %>
