<%= form_with(model: calendar_date, local: true) do |form| %>
  <% if calendar_date.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar_date.errors.count, "error") %> prohibited this calendar_date from being saved:</h2>

      <ul>
      <% calendar_date.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service_identifier %>
    <%= form.number_field :service_identifier, id: :calendar_date_service_identifier %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :calendar_date_date %>
  </div>

  <div class="field">
    <%= form.label :exception_type %>
    <%= form.text_field :exception_type, id: :calendar_date_exception_type %>
  </div>

  <div class="field">
    <%= form.label :integer %>
    <%= form.text_field :integer, id: :calendar_date_integer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
