<p id="notice"><%= notice %></p>

<h1>Calendar Dates</h1>

<table>
  <thead>
    <tr>
      <th>Service identifier</th>
      <th>Date</th>
      <th>Exception type</th>
      <th>Integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendar_dates.each do |calendar_date| %>
      <tr>
        <td><%= calendar_date.service_identifier %></td>
        <td><%= calendar_date.date %></td>
        <td><%= calendar_date.exception_type %></td>
        <td><%= calendar_date.integer %></td>
        <td><%= link_to 'Show', calendar_date %></td>
        <td><%= link_to 'Edit', edit_calendar_date_path(calendar_date) %></td>
        <td><%= link_to 'Destroy', calendar_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendar Date', new_calendar_date_path %>
