<p id="notice"><%= notice %></p>

<p>
  <strong>Route identifier:</strong>
  <%= @route.route_identifier %>
</p>

<p>
  <strong>Agency identifier:</strong>
  <%= @route.agency_identifier %>
</p>

<p>
  <strong>Route short name:</strong>
  <%= @route.route_short_name %>
</p>

<p>
  <strong>Route long name:</strong>
  <%= @route.route_long_name %>
</p>

<p>
  <strong>Route type:</strong>
  <%= @route.route_type %>
</p>

<p>
  <strong>Route color:</strong>
  <%= @route.route_color %>
</p>

<p>
  <strong>Route text color:</strong>
  <%= @route.route_text_color %>
</p>

<p>
  <strong>Route desc:</strong>
  <%= @route.route_desc %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
